services:
  app:
    container_name: polyswap-app
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped

  listener:
    container_name: polyswap-listener
    build:
      context: .
      dockerfile: Dockerfile.listener
    env_file:
      - .env
    restart: unless-stopped
